table.table
{
    width: 100%;
  }
  
  th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

.calendar
{
    width: 5em;
}  
.taskname
{
    width: 12em;
} 
  
.hovered:hover 
{
    background-color:#f5f5f5;
}

.addproject
{
left:150px;
}

.add_task
{
  margin-top: 10px;
}

.subtask
{
  padding:10px;
}
.task
{
  padding:15px;
}
.remove_subtask
{
  position: absolute;
  bottom:0;
  left:0;
}